@{
  Layout = "_Layout";
}

@model University.Models.Course

  <h3>Add a Course</h3>
  <hr>

  <h4>Add a course to this department: @Html.DisplayFor(model => model.CourseName)</h4>

  @using (Html.BeginForm())
  {
    @Html.HiddenFor(model => model.CourseId)

    <div class="form-group">

      @Html.Label("Select Department")
      @Html.DropDownList("DepartmentId", null, new { @class = "form-control"})
    </div>
    <br>
    <input type="submit" value="Save" class="btn btn-dark"/>
  }
  <br>
  <p class="btn btn-dark">@Html.ActionLink("Back to Courses", "Index")</p>